SetEnvIf Host testing.* passreq
SetEnvIf Host staging.* passreq

AuthType Basic
AuthName "Password Required"
AuthUserFile /var/app/current/security/.htpasswd
Require valid-user
Order allow,deny
Allow from all
Deny from env=passreq
Satisfy any