# Copy this template to a new file called secrets.env
# Then update that template with the correct values
# And never push this file to any repository

HT_USER=<ht-user>
HT_PASSWORD=<ht-password>

PG_HOST=<pg-host>
PG_PASSWORD=<pg-password>
PG_SECURE_PASSWORD=<pg-secure-password>

CUSTOMER_IO_SITE_ID=<customer-io-site-id>
CUSTOMER_IO_API_KEY=<customer-io-api-key>

SERVER_TOKEN=<server-token>

AWS_ACCESS_KEY=<aws-access-key>
AWS_SECRET_ACCESS_KEY=<aws-secret-access-key>